:root {
    --primary-color: #85aded;
    --fallback-color: #8ab4e4;
}

body{
    background-color: rgb(188, 205, 235);
    font-family:'Courier New', Courier, monospace;
}

/* Title */
.intro{
    display: flex;
    justify-content: center;

    color: hsl(218, 67%, 44%);
    margin-top: 1.25rem;
    margin-bottom:1.25rem;
}

.nav-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;

    width: 125px;
    height: 100px;
    background-color: var(--primary-color, var(--fallback-color));

    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;

}

.business-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.business-box{
    display: inline-block;
    width: 15%;
    padding: 20px;
    background-color: color-mix(in srgb, cornflowerblue 60%, white 40%);
    
    border-radius: 10px;
    text-align: center;
}

/* Container styling */
#etc {
    background-color: color-mix(in srgb, cornflowerblue 60%, white 40%);
    padding: 20px;
    border-style:dashed;
    border-radius: 12px;
    margin: 30px auto;
    max-width: 800px;
}

/* Style each <details> box */
#etc details {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid color(srgb 0 0 0.55);
    border-radius: 8px;
    background-color: #c1d6f7;
}

#etc summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

